@media only screen and (min-width : 1px) {
	ul li a{
		font-size: 8px;	
	}
}

@media only screen and (min-width : 420px) {
	ul li a{
		font-size: 15px;	
	}
}

*{
	margin:0px;
	padding:0px;
}

body{
	font-size:62.5%;
	font-family: Helvetica, sans-serif;
	background: url('assets/bg.jpg') no-repeat top #ffffff;
}

div#page-wrap{
	width: 100%;
	margin:0px auto;
	box-sizing: border-box;
	background: white;
}

ul#nav{
	list-style: none;
	display: flex;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	justify-content: space-around;
	padding: 15px 0px;
	max-width: 650px;
	margin: 0px auto;
	flex-wrap: wrap;
}

ul#nav li a{
	color: rgb(24, 27, 32);
	text-decoration: none;

}

ul#nav li {
	display: inline;
}


