@font-face {
  font-family: Break;
  src: url(assets/fonts/Break/BreakRegular.ttf);
}

@font-face {
  font-family: Madras;
  src: url(assets/fonts/Madras/MadrasExtraLight.otf);
}

*{
	margin:0px;
	padding:0px;
}

body{
	font-family: 'Oxygen', sans-serif;
	font-size:62.5%;
	background: url('assets/img/bg.jpg') no-repeat top #ffffff;
	background-size: cover;
	background-position: center;

	display: flex;
    flex-direction: column;
    justify-content: center;
	height: 100%;
}

a{
	color: white;
	text-decoration: none;
	transition: color .3s;
	-webkit-transition: color .3s;
}

a:hover{
	color: #D61359;
}

.name{
    color: white;
	font-size: 130px;
	font-family: Break;
	text-align: center;
}

.contact{
	font-family: Madras;
	background-color: rgba(0, 0, 0, 0.58);
	width: 100%;
	font-size: 20px;
	color: white;
	text-align: center;
	margin-top: 20px;
	padding: 10px 0px;
}

.contact span{
	padding: 0px 20px;
}

@media only screen 
  and (min-width: 0px) 
  and (max-width: 580px){
	.name{
		font-size: 50px;
	}
}

@media only screen 
  and (min-width: 581px) 
  and (max-width: 800px){
	.name{
		font-size: 90px;
	}
}

@media only screen 
  and (min-width: 0px) 
  and (max-width: 800px){
	.contact span{
		display: block;
		padding: 5px;
	}
}





