@import url(http://fonts.googleapis.com/css?family=Oxygen);

@media only screen and (min-width : 1px) {
	ul li a{
		font-size: 8px;	
	}
}

@media only screen and (min-width : 420px) {
	ul li a{
		font-size: 15px;	
	}
}

*{
	margin:0px;
	padding:0px;
}

body{
	font-family: 'Oxygen', sans-serif;
	font-size:62.5%;
	background: url('assets/bg.jpg') no-repeat top #ffffff;
	background-size: 100%;
	background-position: center;
}

div#page-wrap{
	width: 100%;
	margin:0px auto;
	box-sizing: border-box;
	//background: white;
	position: absolute;
	top: 35%;
}

ul#nav{
	list-style: none;
	display: flex;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	justify-content: space-around;
	padding: 15px 0px;
	//max-width: 650px;
	margin: 0px auto;
	flex-wrap: wrap;
}

ul#nav li a{
	color: white;
	text-decoration: none;
	text-shadow: 1px 5px 5px black;
	font-size: 150px;
}	

ul#nav li {
	display: inline;
}


